@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
$line-border-fill: #3498DB;

* {
    box-sizing: border-box;
}

body {
    background-color: #F6F7FB;
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;

    &:before {
        content: '';
        background-color: #E0E0E0;
        position: absolute;
        top: 50%;
        left: 0;
        height: 4px;
        width: 100%;
        z-index: -1;
    }

    .progress {
        background-color: $line-border-fill;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-35%);
        height: 4px;
        width: 0;
        z-index: -1;
        transition: .4s ease;
    }

    .circle {
        background-color: white;
        color: #999;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid lightgrey;
        transition: .4s ease;

        &.active {
            border-color: $line-border-fill;
        }
    }
}

.btn {
    background-color: $line-border-fill;
    color: #FFF;
    border: 0;
    border-radius: 6px;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    outline: none;

    &:active {
        transform: scale(.98);
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        background-color: #E0E0E0 ;
    }
}